[Unit]
Description=TVControlHub
After=network.target

[Service]
User=pi
WorkingDirectory=/srv/TVControlHub/RemoteControl
Environment="PATH=/srv/TVControlHub/RemoteControl/venv/bin"
ExecStart=/srv/TVControlHub/RemoteControl/venv/bin/python /srv/TVControlHub/RemoteControl/app.py
Restart=always

[Install]
WantedBy=multi-user.target

