body {
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;       /* orizzontale */
    justify-content: center;   /* verticale */
    text-align: center;
    background-color: #2b2b2b; /* grigio scuro */
    color: #f0f0f0;
    height: 100vh;             /* altezza viewport */

    margin: 0;                 /* elimina margini default */

}
#everyThing{

    display: flex;
    flex-direction: column;
    align-items: center;       /* orizzontale */
    justify-content: initial;   /* verticale */
    text-align: center;
    height: 100%;
    gap: 30px;
}
h1 {
    margin-top: 20px;
}


img{
    width: 17vw;
    height: 17vw;
}
button {
    font-size: 10vw;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #555; /* grigio medio */
    color: white;
    transition: 0.2s;
}


.btn-red {
    background-color: #ff3b3b; /* rosso principale */
    color: white;
}


/* Pad direzionale */
.remote-pad {
    position: relative;
    width: 55vw;
    height: 55vw;
    margin: 40px auto;
    border-radius: 50%;
    background-color: #333530;
    box-shadow: 0px 0px 10px red;
}

/* Frecce */
.arrow {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* opzionale, se vuoi rimuovere anche il bordo */
    border-radius: 50%;

}


.arrow img{
    width: 14.5vw;
    height: 14.5vw;
}

.arrow-up {
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 15vw;
}

.arrow-down {
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 15vw;
}

.arrow-left {
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
    width: 15vw;
    height: 30vw;
}

.arrow-right {
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    width: 15vw;
    height: 30vw;
}

/* Pulsante invio centrale */
.enter-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background-color: #999; /* grigio chiaro */
    font-size: 4vw;
    color: black;
    font-weight: bold;
}


.lastRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17vw;
    overflow: hidden;
    padding: 7px;
}

img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.30);
}
.imgButton{
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px red;
}