body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;       /* orizzontale */
    justify-content: center;   /* verticale */
    text-align: center;
    background-color: #2b2b2b; /* grigio scuro */
    color: #f0f0f0;
    height: 100vh;             /* altezza viewport */
    margin: 0;                 /* elimina margini default */
    color: red;
}
h1 {
    margin-top: 20px;
}


img{
    height: 90px;
    width: 90px;
}
button {
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #555; /* grigio medio */
    color: white;
    transition: 0.2s;
}


.btn-red {
    background-color: #ff3b3b; /* rosso principale */
    color: white;
}


/* Pad direzionale */
.remote-pad {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 50%;
    background-color: #333530;
    box-shadow: 0px 0px 10px red;
}

/* Frecce */
.arrow {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* opzionale, se vuoi rimuovere anche il bordo */
    border-radius: 50%;

}

.arrow img{
    width: 40px;
    height: 40px;
}

.arrow-up {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
}

.arrow-down {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
}

.arrow-left {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
}

.arrow-right {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
}

/* Pulsante invio centrale */
.enter-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #999; /* grigio chiaro */
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.lastRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    overflow: hidden;
    padding: 7px;
}

img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
}
.imgButton{
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px red;
}